@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Stylist;

<h3>Stylist Details</h3>

<h5>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h5>
<h5>@Html.DisplayNameFor(model => model.PhoneNumber): @Html.DisplayFor(model => model.PhoneNumber)</h5>

@if (ViewBag.Clients.Count > 0)
{
  <hr />
  <h5>Clients of @Model.Name</h5>
  foreach (Client client in ViewBag.Clients)
  {
    <p>@Html.ActionLink($"{client.Name}", "Details", "Clients", new { id = client.ClientId })</p>
  }
}
<hr />
<p class="link">@Html.ActionLink("Back to Stylist List", "Index")</p>
<p class="link">@Html.ActionLink("Go to Home", "Index", "Home")</p>