@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client;

<h3>Client Details</h3>

<h5>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h5>
<h5>@Html.DisplayNameFor(model => model.PhoneNumber): @Html.DisplayFor(model => model.PhoneNumber)</h5>

<hr />
<p class="link">@Html.ActionLink("Delete Client", "Delete")</p>
<hr />
<p class="link">@Html.ActionLink("Back to Client List", "Index")</p>
<p class="link">@Html.ActionLink("Go to Home", "Index", "Home")</p>